doctype 5
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    block content
