@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

@import "/bootstrap/css/bootstrap.min.css";

@import "/bootstrap/css/bootstrap-responsive.min.css";

@import "/fontawesome/css/font-awesome.min.css";
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: Ubuntu;
}
canvas {
  display: block;
}
#canvas {
  width: 100%;
  height: 100%;
}
